/* Estilos generales */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #232f3e;
  color: #ffffff;
  padding: 10px 0;

  div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    .search-bar{
      display: flex;
      gap:0;
    }
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.logo h1 {
  margin: 0;
}

.search-bar {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  background-color: #febd69;
  color: #000000;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.account a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
}

menu {
  position: relative;
}

.menu-toggle {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-icon {
  display: block;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: calc(10% - 35px);
  right: calc(10% - 35px);
  background-color: #ffffff;
  color: #232f3e;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.2);
  width: 200px;
}

.menu-dropdown.active {
  display: block;
}

.menu-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-dropdown ul li {
  border-bottom: 1px solid #ddd;
}

.menu-dropdown ul li:last-child {
  border-bottom: none;
}

.menu-dropdown ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #232f3e;
}

.menu-dropdown ul li a:hover {
  background-color: #f5f5f5;
}


main {
  padding: 20px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  align-content: flex-start; !important;
}

.producto  {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  max-width: calc(33.333% - 20px);
}

.producto  img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.producto  h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.producto  p {
  font-size: 1.1em;
  color: #b12704;
}

footer {
  background-color: #232f3e;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
